main{
    padding-bottom: 3em;
    background-color: #c7c7c7;
    margin-right: -0.5em;
}
.listo{
    margin: 3em 15em;
    border-radius: 2em;
    background-color: #999999;
    height: 25em;
    text-align: center;
    line-height: 10em;
}
.listo div{
    line-height: 6em;
    width: 15em;
    height: 5em;
    background-color: black;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border-radius: 2em;
}
.listo div:hover{
    background-color: rgb(46, 46, 46);
}
main section div{
    margin: auto;
    background-color: #999999;
    padding: 0.5em 2em 2em 2em;
    width: 20%;
    border-radius: 1em;
}
section div *{
    text-align: left;
}
h4{
    font-size: 1.5em;
    text-align: center;
    padding: 0.5em;
    border-top: white solid 3px;
    border-bottom: white solid 3px;
}
span{
    color: rgb(189, 40, 40);
}
form a{
    text-decoration: underline;
    color: rgb(87, 106, 161);
}
.registrar-boton{
    text-align: center;
    width: 100%;
    height: 3em;
    font-size: 1em;
    font-weight: bold;
    margin: 0.5em 0;
    background-color: gray;
    color: white;
}