.central-container{
    display: flex;
    align-items: flex-start;
}
.sobremi{
    width: 20em;
    margin-left: 4em;
    margin-bottom: 4em;
}
.sobremi header h2{
    margin-top: 0;
    font-size: 120%;
}
.sobremi header p{
    color: #8A8070;
    margin-right: 0.5em;
    margin-left: 0.5em;
}
.sobremi article{
    background-color: rgb(209, 206, 201);
}
.sobremi h2{
    padding-top: 1em;
    font-size: 120%;
}
.sobremi p{
    color: #8A8070;
    margin-left: 0.5em;
    margin-right: 0.5em;
}
.sobremi footer{
    background-color: #7ABA96;
    font-size: 120%;
    height: 1.5em;
    position: relative;
}
.sobremi footer a{
    text-align: center;
    font-weight: bold;
    top: -0.9em;
    left: 5.5em;
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}
.sobremi footer a:hover{
    background-color: red;
    color: rgb(255, 255, 255);
}
.lista-container{
    width: 50%;
    padding: 1em 1.5em;
    margin: 0 1em 1em 1em;
    background-color: #c2c0bd;
    border-radius: 0.5em/0.3em;
}
.receta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    background: #dbd5cb;
    margin: 0.5em;
    margin-bottom: 1.5em;
    outline-width: 7px;
    outline-color: #8A8070;
    outline-style: groove;
}
.receta:hover{
    outline-style: ridge;
    outline-width: 15px;  
}
.receta img{
    width: 14em;
    height: 9.5em;
    margin-right: 1em;
    background: #8A8070;
    padding: 3px;
}
.descripcion-receta{
    width: 40%;
    margin-top: -1em;
    margin-right: 1em;
    font-size: 85%;
}
.titulo-receta{
    font-size: 120%;
    font-weight: bold;
    text-align: left;
}
.datos-extra{
    padding: 0 1em;
    background-color: #7ABA96;
    width: 18%;
    height: 9em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.dato{
    display: flex;
    justify-content: space-between;
}
.dato div{
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    width: 45%;
    text-align: left;
}
.dato p{
    margin-top: 0.7em;
    margin-bottom: 0.7em;
    width: 35%;
    text-align: right;
}
.paginacion-container{
    margin: 1.5em 0;
    background: #dbd5cb;
    border-radius: 0.3em;
}
.paginacion-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
.paginacion-container ul li {
    list-style: none;
    width: 3em;
    background-color: #c2c0bd;
    font-weight: bolder;
    margin: 0.2em;
    border-radius: 0.1em;
}
.paginacion-container li:hover{
    background-color: #8A8070;
}
.paginacion-container a{
    color: #8A8070;
}
.paginacion-container a:hover{
    text-decoration: underline;
    color: white;
}
.articulo-random{
    width: 18%;
    padding: 1.5em;
    background: #dadada;
    border: 3px solid rgba(0, 0, 0, 0.493);
    border-radius: 0.4em;
}
.articulo-random div{
    outline: #8A8070;
    outline-style: dashed;
    outline-width: 5px;
    padding: 0.5em;
    border-radius: 0.4em;
}
.articulo-random div:hover{
    outline-color: red;
}
.articulo-random img{
    width: 100%;
    height: 13em;
}
.cabecera-articulo{
    font-size: 130%;
    font-weight: bold;
    color: #8A8070;
}
.titulo-articulo{
    font-weight: bold;
    color: #7ABA96;
}
.titulo-articulo:hover{
    text-decoration: underline;
}
.articulo-random a div p{
    width: auto;
}